ul{
    list-style-type: none;
}
header{
    position: absolute;
    top: 0;
    right: 0;
    height: 12vh;
    width: 100%;
    background-color: var(--header-background-color);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}
.logo{
    height: 200%;
}
.logo img{
    height: 100%;
}
.lk{
    font-size: xx-large;
}
.lk a:any-link{
    color: var(--accent-color);
}
.lk a:any-link:hover{
    color: var(--sub-accent-color);
}